<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
  rel="stylesheet"
/>
<h1 class=".mat-body-2">
  {{ current_ip }}
  <button
    mat-raised-button
    color="primary"
    (click)="copyCurrentIpToClipboard()"
  >
    copy
  </button>
</h1>
<h2 class=".mat-body-2">HISTORY</h2>

<table>
  <thead>
    <th>IP</th>
    <th>Fetched</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of ip_history">
      <td>{{ item.ip }}</td>

      <td>:{{ item.fetched }}</td>
    </tr>
  </tbody>
</table>
