<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
  rel="stylesheet"
/>
<mat-card style="height: 100px">
  <mat-card-header>
    <mat-card-title>IPRaven</mat-card-title>
    <mat-card-title
      >{{ current_ip }}
      <button
        mat-raised-button
        color="accent"
        (click)="copyCurrentIpToClipboard()"
      >
        copy
      </button></mat-card-title
    >
    <mat-card-subtitle>{{ current_ip_fetched }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card style="height: 200px">
  <mat-card-header>
    <mat-card-title>History</mat-card-title>
    <mat-card-subtitle
      *ngFor="let item of ip_history | slice: 0:5; let i = index"
    >
      {{ item.ip }} : {{ item.fetched }}</mat-card-subtitle
    >
  </mat-card-header>
</mat-card>
